.top {
    
   background-image: url(images/aidan-hancock-8RU4OuA6Yug-unsplash.png);
    width: 100vx;
    height: 100vh;
   background-size: cover;


}
 .text {
    font-size: 30px;
    padding-left: 30% ;
    padding-top: 30%;
 }
 .text1 {
    padding-left: 30% ;
    padding-top: 5%;
 }

    .button {
        position: absolute;
        top:50%;
        background-color:#0be2ff69;
        color: #fff;
        
    }
 .new{
   padding: 0;
border: none;
background: none;
 }
 .center{
   text-align: center;
   padding-left: 25%;
   padding-right: 25%;
 }

 .prog{
   background-color: aqua;
 }
 .red{
   padding-right: 20%;
 }
 .wend{ padding-left: 1300px;}