.top {
    
   background-image: url(images/aidan-hancock-8RU4OuA6Yug-unsplash.png);
    width: 100vx;
    height: 100vh;
   background-size: cover;


}
 .text {
    font-size: 30px;
    padding-left: 30% ;
    padding-top: 30%;
 }
 .text1 {
    padding-left: 30% ;
    padding-top: 5%;
 }

    .button {
        position: absolute;
        top:50%;
        background-color:#0be2ff69;
        color: #fff;
        
    }
 .new{
   padding: 0;
border: none;
background: none;
 }
 .center{
  text-align: center;
 padding-left: 25%;
   padding-right: 25%;
 }

 .prog{
   background-color: #F5F5F5;
 }
 .red{
   padding-right: 20%;
 }
 .wend{ padding-left: 1300px;}
 .active {
   color: aqua;
 }
 .ass {
   color: rgb(139, 232, 255);
   text-decoration: none;
 }
 .ass:hover {
   color: rgb(98, 235, 245);
   text-decoration: none;
 }
 .navthing {
   color: black;
   text-decoration: none;
}
 .navthing:hover {
   color: rgb(96, 250, 250);
 }
 #about{
   
 }
 .prad{padding-top: 20%;}
 .dered{
  width: 100%;
 }

 .progress-bar-teal {
  background-color: #10C9C3 !important;
  }

  .sec3{
    background-color: #10C9C3;
    color: white;
  }

  .container {
  position: relative;
  width: 100%;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #141414;

}

.container:hover .overlay {
  opacity: 25%;
}

.gal {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.sec4{
  background-color: #F5F5F5;
  color: white;
}
.tree{
 margin-left: 40%;
 background-color: #10C9C3;
 border: none;
}